Repository SFDigitalServices/sf-dahlia-web, pull requests merged in 2018-03, with the labels that each got.

#1004 Chores/preference js errors #154983384
  app/assets/javascripts/short-form/FileUploadService.js.coffee
  app/assets/javascripts/short-form/ShortFormApplicationController.js.coffee
  app/assets/javascripts/short-form/ShortFormDataService.js.coffee
Labels: task after merge

#1002 Bugs/button overflows container in filipino #154188183
  app/assets/stylesheets/toolkit.scss
Labels: accepted, pattern library update

#992 Bugs/language switch breaks app review page #154187470
  app/assets/javascripts/config/angularInitialize.js.coffee
  app/assets/javascripts/config/angularRoutes.js.coffee
Labels: accepted

#788 features/full/do not reply email #146741427
  app/mailers/emailer.rb
  config/initializers/devise.rb
Labels: WIP, accepted, master

#986 Bugs/lottery modal persists btwn pages #154099453
  app/assets/javascripts/account/AccountService.js.coffee
  app/assets/javascripts/config/angularInitialize.js.coffee
  app/assets/javascripts/listings/ListingService.js.coffee
  app/assets/javascripts/shared/ModalInstanceController.js.coffee
  app/assets/javascripts/shared/ModalService.js.coffee
  spec/javascripts/controllers/modal_instance_controller_spec.coffee
  spec/javascripts/services/listing_service_spec.coffee
  spec/javascripts/services/modal_service_spec.coffee
Labels: accepted

#975 Features/prevent applying when lottery complete #150903276
  app/assets/javascripts/listings/ListingController.js.coffee
  app/assets/javascripts/listings/ListingService.js.coffee
  app/assets/javascripts/listings/templates/listing/_apply_online.html.slim
  spec/javascripts/services/listing_service_spec.coffee
Labels: accepted

#981 Features/listing deposit details #151337450
  app/assets/javascripts/listings/ListingController.js.coffee
  app/assets/javascripts/listings/ListingService.js.coffee
  app/assets/javascripts/listings/templates/listing/_features.html.slim
  spec/javascripts/controllers/listing_controller_spec.coffee
  spec/javascripts/services/listing_service_spec.coffee
Labels: accepted

#1013 Features/modal-#155606680
  app/assets/javascripts/directives/alert-box.html.slim
  app/assets/stylesheets/toolkit.scss
Labels: accepted

#1003 Features/language switcher behavior on welcome pages #154187395
  app/assets/javascripts/config/angularInitialize.js.coffee
  app/assets/javascripts/shared/SharedController.js.coffee
  app/assets/javascripts/shared/SharedService.js.coffee
  app/assets/javascripts/shared/components/languageSwitcher.js.coffee
  app/assets/javascripts/shared/templates/footer.html.slim
  app/assets/javascripts/short-form/ShortFormApplicationService.js.coffee
  spec/javascripts/components/language_switcher_spec.coffee
  spec/javascripts/services/shared_service_spec.coffee
  spec/javascripts/services/short_form_application_service_spec.coffee
Labels: accepted

#891 Features/navigating back and forth accordions #149904145
  app/assets/javascripts/directives/keepScrollPosition.js.coffee
  app/assets/javascripts/listings/ListingController.js.coffee
  app/assets/javascripts/listings/ListingService.js.coffee
  app/assets/javascripts/listings/templates/listing.html.slim
  app/assets/javascripts/listings/templates/listing/_eligibility.html.slim
  app/assets/javascripts/listings/templates/listing/_features.html.slim
  app/assets/javascripts/listings/templates/listing/_income-table-multiple.html.slim
  app/assets/javascripts/listings/templates/listing/_income-table.html.slim
  app/assets/javascripts/listings/templates/listing/_what_to_expect.html.slim
Labels: accepted, grant review, listing feature

#1011 Features/modals not popups #141341079
  app/assets/javascripts/account/AccountService.js.coffee
  app/assets/javascripts/config/angularInitialize.js.coffee
  app/assets/javascripts/listings/ListingService.js.coffee
  app/assets/javascripts/shared/ModalInstanceController.js.coffee
  app/assets/javascripts/shared/ModalService.js.coffee
  app/assets/stylesheets/toolkit.scss
  spec/javascripts/controllers/modal_instance_controller_spec.coffee
  spec/javascripts/services/listing_service_spec.coffee
  spec/javascripts/services/modal_service_spec.coffee
Labels: accepted

#1014 Features/hardcode remove sro note #155946508
  app/assets/javascripts/listings/ListingService.js.coffee
  app/assets/javascripts/listings/templates/listing/_property-hero.html.slim
Labels: accepted

#974 Features/reorder summary to match application #150897690
  app/assets/javascripts/short-form/ShortFormApplicationController.js.coffee
  app/assets/javascripts/short-form/directives/preferences-summary.html.slim
  app/assets/javascripts/short-form/directives/preferencesSummaryDirective.js.coffee
  app/assets/javascripts/short-form/directives/review-summary-item.html.slim
  app/assets/javascripts/short-form/directives/reviewSummaryItemDirective.js.coffee
  app/assets/javascripts/short-form/templates/partials/_review-application-details.html.slim
  spec/javascripts/controllers/short_form_application_controller_spec.coffee
Labels: accepted

#993 Bugs/my account menu styling wrong #154187497
  app/assets/stylesheets/toolkit.scss
Labels: accepted, pattern library update

#994 Bugs/language switch doesnt work on confirmation page #154187409
  app/assets/javascripts/short-form/ShortFormApplicationService.js.coffee
Labels: accepted

#937 Features/salesforce error in alert #151138937
  app/assets/javascripts/config/angularProviders.js.coffee
  app/controllers/api/v1/short_form_controller.rb
  app/controllers/api_controller.rb
Labels: accepted

#987 Bugs/angular infinite retry loop #151027145
  app/assets/javascripts/config/angularInitialize.js.coffee
  app/assets/javascripts/config/angularProviders.js.coffee
  public/500.html
Labels: accepted, task before merge

#977 Bugs/can go straight to confirmation page #150870824
  app/assets/javascripts/config/angularRoutes.js.coffee
  app/assets/javascripts/short-form/ShortFormApplicationService.js.coffee
  app/assets/javascripts/short-form/ShortFormNavigationService.js.coffee
  spec/javascripts/services/short_form_navigation_service_spec.coffee
Labels: accepted

#980 Features/include session id in application #148860651
  app/assets/javascripts/short-form/ShortFormApplicationService.js.coffee
  app/assets/javascripts/short-form/ShortFormDataService.js.coffee
  app/controllers/api/v1/short_form_controller.rb
  app/services/salesforce_service/short_form_service.rb
Labels: accepted

#956 Chores/use instantiated objects #152047375
  .codeclimate.yml
  app/assets/javascripts/config/angularRoutes.js.coffee
  app/assets/javascripts/listings/ListingService.js.coffee
  app/controllers/api/v1/account_controller.rb
  app/controllers/api/v1/listings_controller.rb
  app/controllers/api/v1/short_form_controller.rb
  app/controllers/overrides/registrations_controller.rb
  app/controllers/overrides/sessions_controller.rb
  app/controllers/overrides/token_validations_controller.rb
  app/controllers/sitemaps_controller.rb
  app/jobs/short_form_attachment_job.rb
  app/mailers/emailer.rb
  app/models/user.rb
  app/services/cache_service.rb
  app/services/force/account_service.rb
  app/services/force/listing_service.rb
  app/services/force/request.rb
  app/services/force/short_form_service.rb
  app/services/salesforce_service/base.rb
  config/initializers/salesforce_services.rb
  lib/tasks/cache.rake
  lib/tasks/listing_images.rake
  spec/controllers/overrides/registrations_controller_spec.rb
  spec/jobs/short_form_attachment_job_spec.rb
  spec/services/request_spec.rb
  spec/services/short_form_service_spec.rb
  spec/support/vcr_setup.rb
  spec/vcr/force/initialize.yml
Labels: chore/fix
