Repository SFDigitalServices/sf-dahlia-web, pull requests merged in 2018-02, with the labels that each got.

#1000 Bugs/short form browser alert autosave #154788411
  app/assets/javascripts/config/angularInitialize.js.coffee
Labels: chore/fix, task before merge

#985 Features/update additional assistance address #152821491
  app/assets/javascripts/pages/templates/_contact-mayors-office.html.slim
  app/assets/javascripts/pages/templates/privacy.html.slim
  app/assets/javascripts/shared/templates/footer.html.slim
  app/assets/json/translations/locale-en.json
  app/assets/json/translations/locale-tl.json
Labels: accepted

#973 Chores/Update rubocop #153300270
  Gemfile
  Gemfile.lock
Labels: accepted

#946 Features/listing detail preference timeout #150277910
  app/assets/javascripts/config/angularProviders.js.coffee
  app/assets/javascripts/listings/ListingController.js.coffee
  app/assets/javascripts/listings/ListingService.js.coffee
  app/assets/javascripts/listings/templates/listing/_eligibility.html.slim
  app/assets/json/translations/locale-en.json
Labels: accepted, listing feature

#935 Features/show proof document on submitted app #151532001
  app/assets/javascripts/short-form/ShortFormDataService.js.coffee
  app/assets/javascripts/short-form/ShortFormHelperService.js.coffee
  spec/e2e/features/short_form/submitting_application.feature
  spec/e2e/step_definitions/short_form_steps.coffee
Labels: accepted, short form feature

#900 Features/email draft link #135807091
  app/assets/javascripts/config/angularRoutes.js.coffee
  app/assets/javascripts/short-form/ShortFormApplicationService.js.coffee
  app/controllers/api/v1/short_form_controller.rb
  app/mailers/emailer.rb
  app/views/emailer/draft_application_saved.html.slim
  lib/mailer_previews/emailer_preview.rb
  spec/mailers/emailer_spec.rb
  spec/vcr/emailer/draft_application_saved.yml
  spec/vcr/emailer/submission_confirmation.yml
Labels: accepted, short form feature

#995 Chores/remove sign in before submit #154821728
  app/assets/javascripts/account/AccountService.js.coffee
  app/assets/javascripts/config/angularRoutes.js.coffee
  app/assets/javascripts/short-form/ShortFormApplicationController.js.coffee
  app/assets/javascripts/short-form/ShortFormApplicationService.js.coffee
  app/assets/javascripts/short-form/templates/f1a-review-sign-in.html.slim
  app/assets/json/translations/locale-en.json
  app/controllers/api/v1/account_controller.rb
  config/routes.rb
  spec/requests/api/v1/account_spec.rb
  spec/support/devise_macros.rb
Labels: task after merge

#1001 Features/modals not popups #141341079
  app/assets/javascripts/config/angularInitialize.js.coffee
  app/assets/javascripts/shared/ModalService.js.coffee
  app/assets/javascripts/shared/templates/alert_modal.html.slim
  app/assets/stylesheets/toolkit.scss
  spec/javascripts/services/modal_service_spec.coffee
Labels: accepted

#997 Bugs/gender question order in short form demographics #154827675
  app/assets/javascripts/short-form/templates/f0-review-optional.html.slim
Labels: accepted

#999 Bugs/google translate broken in ie #154653504
  app/assets/javascripts/shared/GoogleTranslateService.js.coffee
Labels: accepted

#996 Bugs/disable app delete button after delete #154788885
  app/assets/javascripts/account/directives/my-application.html.slim
  app/assets/javascripts/account/directives/myApplicationDirective.js.coffee
Labels: accepted

#931 Features/remove geocoder fail emails #151690364
  app/mailers/emailer.rb
Labels: accepted

#952 Features/sign in at short form start #151462171
  app/assets/javascripts/account/AccountService.js.coffee
  app/assets/javascripts/account/templates/forgot-password.html.slim
  app/assets/javascripts/config/angularInitialize.js.coffee
  app/assets/javascripts/config/angularRoutes.js.coffee
  app/assets/javascripts/short-form/ShortFormApplicationController.js.coffee
  app/assets/javascripts/short-form/ShortFormApplicationService.js.coffee
  app/assets/javascripts/short-form/ShortFormNavigationService.js.coffee
  app/assets/javascripts/short-form/templates/b1-name.html.slim
  app/assets/javascripts/short-form/templates/b1a-welcome-back.html.slim
  app/assets/javascripts/short-form/templates/f1a-review-sign-in.html.slim
  app/assets/json/translations/locale-en.json
  app/controllers/api/v1/account_controller.rb
  config/routes.rb
  spec/e2e/features/short_form/assisted_housing.feature
  spec/e2e/features/short_form/error_messages.feature
  spec/e2e/features/short_form/submitting_application.feature
  spec/e2e/pages/short-form/you-contact.coffee
  spec/e2e/pages/short-form/you-name.coffee
  spec/e2e/step_definitions/short_form_steps.coffee
  spec/javascripts/services/short_form_navigation_service_spec.coffee
  spec/requests/api/v1/account_spec.rb
  spec/support/devise_macros.rb
Labels: accepted, part of mini epic, short form feature

#958 Features/sign in and reconcile draft apps #152331095
  app/assets/javascripts/account/AccountService.js.coffee
  app/assets/javascripts/config/angularRoutes.js.coffee
  app/assets/javascripts/short-form/ShortFormApplicationController.js.coffee
  app/assets/javascripts/short-form/ShortFormApplicationService.js.coffee
  app/assets/javascripts/short-form/ShortFormHelperService.js.coffee
  app/assets/javascripts/short-form/ShortFormNavigationService.js.coffee
  app/assets/javascripts/short-form/directives/review-summary-section.html.slim
  app/assets/javascripts/short-form/directives/reviewSummarySectionDirective.js.coffee
  app/assets/javascripts/short-form/templates/b0-autofill-preview.html.slim
  app/assets/javascripts/short-form/templates/b1-name.html.slim
  app/assets/javascripts/short-form/templates/b1a-welcome-back.html.slim
  app/assets/javascripts/short-form/templates/continue-previous-draft.html.slim
  app/assets/javascripts/short-form/templates/partials/_review-application-details.html.slim
  app/assets/json/translations/locale-en.json
  spec/e2e/features/short_form/submitting_application.feature
  spec/javascripts/services/short_form_application_service_spec.coffee
Labels: part of mini epic

#1006 Chores/updated-geocoder-nrhp-endpoints-#155207612
  config/application.rb
Labels: urgent

#895 Features/bypass cache with listing preview #150861671
  app/assets/javascripts/config/angularRoutes.js.coffee
  app/assets/javascripts/listings/ListingService.js.coffee
  app/controllers/api/v1/listings_controller.rb
Labels: accepted, chore/fix, listing feature
