Repository SFDigitalServices/sf-dahlia-web, pull requests merged in 2018-04, with the labels that each got.

#1024 Chores/Update tests after Salesforce refresh #156412782
  spec/javascripts/fixtures/json/account-api-my-applications.json
  spec/javascripts/fixtures/json/address-validation-api-invalid-address.json
  spec/javascripts/fixtures/json/address-validation-api-valid-address.json
  spec/javascripts/fixtures/json/listings-api-eligibility-listings.json
  spec/javascripts/fixtures/json/listings-api-index.json
  spec/javascripts/fixtures/json/listings-api-lottery-buckets.json
  spec/javascripts/fixtures/json/listings-api-lottery-ranking.json
  spec/javascripts/fixtures/json/listings-api-show.json
  spec/requests/api/v1/account_spec.rb
  spec/requests/api/v1/short_form_spec.rb
  spec/vcr/account/my_applications.yml
  spec/vcr/account/register.yml
  spec/vcr/address_validation/invalid.yml
  spec/vcr/address_validation/valid.yml
  spec/vcr/emailer/draft_application_saved.yml
  spec/vcr/emailer/submission_confirmation.yml
  spec/vcr/force/initialize.yml
  spec/vcr/geocoding/invalid.yml
  spec/vcr/geocoding/valid.yml
  spec/vcr/listings/a0W0P00000F8YG4UAN.yml
  spec/vcr/listings/ami.yml
  spec/vcr/listings/eligibility.yml
  spec/vcr/listings/listings.yml
  spec/vcr/listings/lottery-buckets.yml
  spec/vcr/listings/lottery-ranking.yml
  spec/vcr/listings/preferences.yml
  spec/vcr/listings/units.yml
  spec/vcr/shortform/claim_submitted_application.yml
  spec/vcr/shortform/delete_application.yml
  spec/vcr/shortform/show_application.yml
  spec/vcr/shortform/submit_application.yml
  spec/vcr/shortform/update_application.yml
  spec/vcr/shortform/update_unauthorized_application.yml
  spec/vcr/shortform/validate_household_match.yml
  spec/vcr/shortform/validate_household_not_match.yml
Labels: sprint 60 release

#1022 Bugs/scroll position maintained on home page #156241951
  app/assets/javascripts/config/angularRoutes.js.coffee
  app/assets/javascripts/shared/NavController.js.coffee
  app/assets/javascripts/shared/components/language-switcher.html.slim
  app/assets/javascripts/shared/components/languageSwitcher.js.coffee
  app/assets/javascripts/shared/templates/nav/nav-bar.html.slim
  bower.json
  spec/javascripts/components/language_switcher_spec.coffee
Labels: accepted, sprint 60 release

#1025 Bugs/user session timeout alert after logout #155419764
  app/assets/javascripts/config/angularInitialize.js.coffee
  app/assets/javascripts/shared/NavController.js.coffee
  spec/javascripts/controllers/nav_controller_spec.coffee
Labels: accepted, urgent feature (merge within 3 days)

#1028 Features/housing email signup url update #156773401
  app/assets/javascripts/pages/templates/_email-updates.html.slim
  app/assets/javascripts/pages/templates/document-checklist.html.slim
  app/assets/javascripts/pages/templates/welcome.html.slim
  app/assets/javascripts/shared/SharedController.js.coffee
Labels: accepted, urgent feature (merge within 3 days)

#1033 Chores/add logging for geocoding issues #156935075
  app/assets/javascripts/short-form/ShortFormApplicationService.js.coffee
  app/controllers/api/v1/geocoding_controller.rb
  app/services/arc_gis_notification_service.rb
Labels: accepted

#1030 Features/accurate geocoder record #155959812
  app/assets/javascripts/short-form/GeocodingService.js.coffee
  app/assets/javascripts/short-form/ShortFormApplicationController.js.coffee
  app/assets/javascripts/short-form/ShortFormApplicationService.js.coffee
  app/controllers/api/v1/geocoding_controller.rb
  spec/javascripts/controllers/short_form_application_controller_spec.coffee
  spec/javascripts/fixtures/json/geocoding-api-invalid-address.json
  spec/javascripts/services/short_form_application_service_spec.coffee
  spec/requests/api/v1/geocoding_spec.rb
Labels: accepted
