Repository SFDigitalServices/sf-dahlia-web, pull requests merged in 2019-03, with the labels that each got.

#1149 Chores/connect sentry to sourcemaps #161558913
  Gemfile
  Gemfile.lock
  config/environments/production.rb
Labels: task before merge

#1148 Chores/upgrade ruby #159945905
  Gemfile
  Gemfile.lock
  app/assets/javascripts/account/AccountService.js.coffee
  app/controllers/api/v1/short_form_controller.rb
  app/controllers/api_controller.rb
  bin/rails
  bin/rake
  bin/spring
  spec/controllers/api/v1/listings_controller_spec.rb
  spec/controllers/api_controller_spec.rb
  spec/javascripts/fixtures/json/gis-api-valid-address-boundary-match.json
  spec/javascripts/fixtures/json/gis-api-valid-address-no-boundary-match.json
Labels: accepted

#1137 Features/add prerequisites checkboxes #162769912
  app/assets/javascripts/short-form/ShortFormApplicationController.js.coffee
  app/assets/javascripts/short-form/ShortFormApplicationService.js.coffee
  app/assets/javascripts/short-form/ShortFormDataService.js.coffee
  app/assets/javascripts/short-form/ShortFormNavigationService.js.coffee
  app/assets/javascripts/short-form/directives/shortFormNavDirective.js.coffee
  app/assets/javascripts/short-form/templates/b0a-prerequisites.html.slim
  app/assets/json/translations/locale-en.json
  app/controllers/api/v1/short_form_controller.rb
  spec/e2e/features/short_form/filling_sale_application.feature
  spec/e2e/step_definitions/listing_steps.coffee
  spec/javascripts/services/short_form_navigation_service_spec.coffee
Labels: needs review

#1156 [#164472002] Remove householdMatch stubbing for sale listings
  app/assets/javascripts/short-form/ShortFormApplicationController.js.coffee
Labels: needs review

#1142 Features/add prerequisites dropdowns #162770324
  app/assets/javascripts/config/angularRoutes.js.coffee
  app/assets/javascripts/short-form/ShortFormApplicationService.js.coffee
  app/assets/javascripts/short-form/ShortFormDataService.js.coffee
  app/assets/javascripts/short-form/components/lending-institution.html.slim
  app/assets/javascripts/short-form/components/lendingInstitution.js.coffee
  app/assets/javascripts/short-form/templates/b0a-prerequisites.html.slim
  app/assets/json/translations/locale-en.json
  app/controllers/api/v1/short_form_controller.rb
  app/services/force/short_form_service.rb
  config/routes.rb
  spec/controllers/api/v1/short_form_controller_spec.rb
  spec/e2e/step_definitions/listing_steps.coffee
  spec/services/short_form_service_spec.rb
  spec/vcr/force/initialize.yml
Labels: needs review

#1155 Remove stale hardcoded features #163463841
  app/assets/javascripts/listings/ListingConstantsService.js.coffee
  app/assets/javascripts/listings/ListingDataService.js.coffee
  app/assets/javascripts/listings/ListingEligibilityService.js.coffee
  app/assets/javascripts/listings/ListingIdentityService.js.coffee
  app/assets/javascripts/listings/ListingLotteryService.js.coffee
  app/assets/javascripts/listings/ListingPreferenceService.js.coffee
  app/assets/javascripts/listings/components/listing/eligibility-section.html.slim
  app/assets/javascripts/listings/components/listing/lottery-info-section.html.slim
  app/assets/javascripts/listings/components/listing/process-section.html.slim
  app/assets/javascripts/listings/components/listing/property-hero.html.slim
  app/assets/javascripts/listings/components/listingContainer.js.coffee
  app/assets/javascripts/listings/components/property-card.html.slim
  app/assets/javascripts/listings/templates/listing/_what_to_expect.html.slim
  spec/javascripts/components/listingContainer_spec.coffee
  spec/javascripts/services/listing_data_service_spec.coffee
  spec/javascripts/services/listing_identity_service_spec.coffee
Labels: accepted

#1165 Update pre-requisites page content #164418056
  app/assets/javascripts/short-form/components/lending-institution.html.slim
  app/assets/javascripts/short-form/templates/b0a-prerequisites.html.slim
  app/assets/json/translations/locale-en.json
Labels: accepted

#1166 Update contact info in sidebar, alternate contact disclosure #164880950
  app/assets/javascripts/listings/templates/listing/_contact_leasing_agent.html.slim
  app/assets/javascripts/listings/templates/listing/_panel-apply-leasing-agent.html.slim
  app/assets/javascripts/short-form/templates/b3-alternate-contact-type.html.slim
  app/assets/json/translations/locale-en.json
  app/assets/json/translations/locale-tl.json
Labels: accepted

#1161 Update Openhouse resources copy #164558026
  app/assets/javascripts/pages/templates/additional-resources.html.slim
Labels: accepted

#1162 Fix request chaining when switching pages quickly #163744941
  app/assets/javascripts/listings/ListingDataService.js.coffee
Labels: accepted

#1169 Update terms page content #164883287
  app/assets/javascripts/short-form/templates/f2-review-terms.html.slim
  app/assets/json/translations/locale-en.json
Labels: needs review

#1170 Add homebuyer content to document checklist page #164874672
  app/assets/javascripts/pages/templates/document-checklist.html.slim
  app/assets/json/translations/locale-en.json
Labels: needs review

#1172 [#164966072] Remove unused isFirstComeFirstServe function
  app/assets/javascripts/listings/ListingIdentityService.js.coffee
Labels: needs review

#1175 Clarify who needs to attend homebuyer education #164994848
  app/assets/json/translations/locale-en.json
Labels: content update, needs review
