Repository SFDigitalServices/sf-dahlia-web, pull requests merged in 2019-02, with the labels that each got.

#1104 Features/add ownership listings #162561558
  app/assets/javascripts/config/angularRoutes.js.coffee
  spec/e2e/features/listings/listing.feature
  spec/e2e/step_definitions/listing_steps.coffee
Labels: needs review

#1105 [#162565305] Change sidebar on ownership listing
  app/assets/javascripts/listings/components/listingContainer.js.coffee
  app/assets/javascripts/listings/components/lottery-info-section.html.slim
  app/assets/javascripts/listings/components/lotteryInfoSection.js.coffee
  app/assets/javascripts/listings/components/process-section.html.slim
  app/assets/javascripts/listings/templates/listing/_additional_sidebar_info.html.slim
  app/assets/javascripts/listings/templates/listing/_apply_online.html.slim
  app/assets/javascripts/listings/templates/listing/_contact_leasing_agent.html.slim
  app/assets/javascripts/listings/templates/listing/_what_to_expect.html.slim
  app/assets/json/translations/locale-en.json
  app/assets/stylesheets/toolkit.scss
  spec/javascripts/components/listing/listingContainer_spec.coffee
Labels: accepted

#1107 [#160000126] Hide lottery results when status is not 'Lottery Complete'
  app/assets/javascripts/listings/ListingLotteryService.js.coffee
  app/assets/javascripts/listings/components/lottery-info-section.html.slim
  app/assets/javascripts/listings/components/lotteryInfoSection.js.coffee
  spec/javascripts/components/listing/lotteryInfoSection_spec.coffee
  spec/javascripts/services/listing_lottery_service_spec.coffee
Labels: accepted

#1118 [#163741697] Add missing $ sign
  app/assets/javascripts/listings/components/property-hero.html.slim
Labels: accepted

#1110 Features/ownership-pricing-tables #162561704
  app/assets/javascripts/listings/ListingConstantsService.js.coffee
  app/assets/javascripts/listings/components/favorites-component.html.slim
  app/assets/javascripts/listings/components/property-card.html.slim
  app/assets/javascripts/listings/components/property-hero.html.slim
  app/assets/javascripts/listings/components/propertyCard.js.coffee
  app/assets/javascripts/listings/templates/_property-card-rental-stats.html.slim
  app/assets/javascripts/listings/templates/_property-card-sale-stats.html.slim
  app/assets/javascripts/listings/templates/_rental-unit-summary.html.slim
  app/assets/javascripts/listings/templates/_sale-unit-summary.html.slim
  app/assets/javascripts/listings/templates/listing/_rental-unit-stats.html.slim
  app/assets/javascripts/listings/templates/listing/_sale-unit-stats.html.slim
  app/controllers/api/v1/account_controller.rb
  app/controllers/api/v1/listings_controller.rb
  app/services/force/listing_service.rb
Labels: needs review

#1116 [#162565304] Add additional info section for ownership listing
  app/assets/javascripts/listings/components/legal-section.html.slim
  app/assets/javascripts/listings/components/legalSection.js.coffee
  app/assets/json/translations/locale-en.json
  app/services/force/listing_service.rb
  spec/javascripts/components/listing/legalSection_spec.coffee
Labels: accepted

#1122 [#163574689] Remove stubbed salesforce data for listings
  app/services/force/listing_service.rb
Labels: accepted

#1123 [#163766486] Show only rental listings for eligibility
  .rubocop.yml
  app/assets/javascripts/config/angularRoutes.js.coffee
  app/assets/javascripts/listings/ListingDataService.js.coffee
  app/services/force/listing_service.rb
  spec/javascripts/fixtures/json/listings-api-eligibility-listings.json
  spec/javascripts/fixtures/json/listings-api-index.json
  spec/javascripts/services/listing_data_service_spec.coffee
  spec/services/listing_service_spec.rb
  spec/vcr/listings/eligibility.yml
Labels: needs review

#1117 [#161808349] Remove address2 field
  app/assets/javascripts/short-form/components/address-form.html.slim
  app/assets/javascripts/short-form/components/addressForm.js.coffee
  app/assets/javascripts/short-form/templates/b2-contact.html.slim
  app/assets/javascripts/short-form/templates/b4a-alternate-contact-phone-address.html.slim
Labels: needs review

#1115 Features/update max occupancy logic in listing #162565299
  app/assets/javascripts/listings/components/eligibility-section.html.slim
  app/assets/javascripts/listings/components/eligibilitySection.js.coffee
  spec/javascripts/components/listing/eligibilitySection_spec.coffee
Labels: needs review

#1127 [#163917081] Add MLS link to listings process section
  app/assets/javascripts/listings/components/process-section.html.slim
Labels: needs review

#1124 [#163669090] Replace leasing agent with property agent
  app/assets/javascripts/pages/templates/_contact-mayors-office.html.slim
  app/assets/json/translations/locale-en.json
  app/assets/json/translations/locale-tl.json
  config/locales/en.yml
Labels: accepted

#1109 Bugs/fix listings display with eligibility filter #163545100
  app/assets/javascripts/listings/components/browse-listings.html.slim
Labels: accepted

#1135 [#163967143] Show move-in date for ownership only when it's present
  app/assets/javascripts/listings/templates/listing/_additional_sidebar_info.html.slim
Labels: needs review

#1134 [#164024405] Remove 'additional fees' from ownership listing
  app/assets/javascripts/listings/components/features-section.html.slim
  app/assets/javascripts/listings/components/listing-details.html.slim
  app/assets/javascripts/listings/components/listingContainer.js.coffee
  spec/javascripts/components/listing/listingContainer_spec.coffee
Labels: needs review

#1132 Features/add prerequisites page #162769857
  app/assets/javascripts/config/angularRoutes.js.coffee
  app/assets/javascripts/short-form/ShortFormApplicationController.js.coffee
  app/assets/javascripts/short-form/ShortFormNavigationService.js.coffee
  app/assets/javascripts/short-form/templates/a4-overview.html.slim
  app/assets/javascripts/short-form/templates/b0a-prerequisites.html.slim
  app/assets/json/translations/locale-en.json
  spec/e2e/features/short_form/filling_sale_application.feature
  spec/e2e/step_definitions/account_steps.coffee
  spec/e2e/step_definitions/listing_steps.coffee
  spec/e2e/step_definitions/shared_steps.coffee
  spec/e2e/utils/page-util.coffee
  spec/javascripts/controllers/short_form_application_controller_spec.coffee
  spec/javascripts/services/short_form_navigation_service_spec.coffee
Labels: needs review

#1136 Features/See listings link to home #164022926
  app/assets/javascripts/account/AccountController.js.coffee
  app/assets/javascripts/account/templates/my-applications.html.slim
  app/assets/javascripts/listings/components/favorites-component.html.slim
  app/assets/javascripts/listings/components/listingContainer.js.coffee
  app/assets/javascripts/listings/components/welcome-component.html.slim
  app/assets/javascripts/listings/components/welcomeComponent.js.coffee
  spec/javascripts/components/listing/listingContainer_spec.coffee
  spec/javascripts/controllers/account_controller_spec.coffee
Labels: needs review

#1121 Bugs/filename too long #163095454
  app/assets/javascripts/short-form/FileUploadService.js.coffee
  app/assets/javascripts/short-form/ShortFormApplicationService.js.coffee
  app/assets/javascripts/short-form/components/preference-proof-uploader.html.slim
  app/assets/javascripts/short-form/components/preferenceProofUploader.js.coffee
  app/assets/json/translations/locale-en.json
  spec/javascripts/components/preference_proof_uploader_spec.coffee
  spec/javascripts/services/file_upload_service_spec.coffee
Labels: needs review

#1131 Bugs/nrhp preference address geocoding #163639900
  .gitignore
  Gemfile
  Gemfile.lock
  app/controllers/api/v1/gis_controller.rb
  app/services/arc_gis_service/geocoding_service.rb
  spec/services/geocoding_service_spec.rb
Labels: accepted

#1144 Features/6 mint content changes #164181844
  app/assets/javascripts/listings/components/listing/eligibility-section.html.slim
  app/assets/javascripts/listings/components/listing/listing-details.html.slim
  app/assets/javascripts/listings/components/listing/panel-apply.html.slim
  app/assets/javascripts/listings/templates/listing/_what_to_expect.html.slim
  app/assets/json/translations/locale-en.json
Labels: pilot for listings release

#1143 Features/Rename pricing table columns #164175404
  app/assets/javascripts/listings/components/listing/sale-unit-stats.html.slim
  app/assets/javascripts/listings/components/sale-stats.html.slim
  app/assets/javascripts/listings/templates/property-card/_sale-stats-row.html.slim
Labels: pilot for listings release

#1147 Features/add housing survey link #164222687
  app/assets/javascripts/listings/components/welcome-component.html.slim
Labels: pilot for listings release

#1146 Features/homeownership sf link text #164233948
  app/assets/javascripts/listings/components/listing/panel-apply.html.slim
  app/assets/json/translations/locale-en.json
Labels: pilot for listings release

#1145 [#164174922] Show full AMI table in Maximum occupancy
  app/assets/javascripts/listings/ListingEligibilityService.js.coffee
  app/assets/javascripts/listings/components/listing/eligibilitySection.js.coffee
  app/assets/javascripts/listings/templates/listing/_income-table-multiple.html.slim
  spec/javascripts/components/listing/eligibilitySection_spec.coffee
Labels: pilot for listings release

#1151 Features/Update required documents content #164319373
  app/assets/json/translations/locale-en.json
Labels: accepted
