Repository SFDigitalServices/sf-dahlia-web, pull requests merged in 2019-05, with the labels that each got.

#1201 Update syntax for eligibility section translations #165649416
  app/assets/javascripts/listings/components/browseListings.js.coffee
  app/assets/json/translations/locale-en.json
Labels: release bug

#1188 Upgrade to Rails 5 #164255126
  .gitignore
  Gemfile
  Gemfile.lock
  app/assets/javascripts/short-form/ShortFormApplicationService.js.coffee
  app/controllers/api/v1/address_validation_controller.rb
  app/controllers/api/v1/gis_controller.rb
  app/controllers/api/v1/listings_controller.rb
  app/controllers/api/v1/short_form_controller.rb
  app/controllers/overrides/registrations_controller.rb
  app/jobs/application_job.rb
  app/jobs/short_form_attachment_job.rb
  app/models/application_record.rb
  app/models/geocoding_log.rb
  app/models/listing_image.rb
  app/models/uploaded_file.rb
  app/models/user.rb
  bin/rails
  bin/rake
  bin/setup
  bin/update
  config/application.rb
  config/boot.rb
  config/cable.yml
  config/environment.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  config/initializers/application_controller_renderer.rb
  config/initializers/assets.rb
  config/initializers/cookies_serializer.rb
  config/initializers/new_framework_defaults.rb
  config/initializers/wrap_parameters.rb
  config/puma.rb
  config/secrets.yml
  config/spring.rb
  db/migrate/20160614231510_devise_create_users.rb
  db/migrate/20160623013934_create_uploaded_files.rb
  db/migrate/20160630042852_add_confirmable_to_users.rb
  db/migrate/20160715000010_add_listing_id_to_uploaded_files.rb
  db/migrate/20160715173051_add_salesforce_contact_id_to_users.rb
  db/migrate/20160720010507_add_temp_session_id_to_user.rb
  db/migrate/20160808065918_update_uploaded_files_user_id.rb
  db/migrate/20161010222323_create_geocoding_logs.rb
  db/migrate/20161207011816_add_listing_name_to_geocoding_logs.rb
  db/migrate/20170327171854_add_state_to_geocoding_logs.rb
  db/migrate/20170407225409_add_rent_burden_fields_to_uploaded_file.rb
  db/migrate/20170726222046_create_listing_images.rb
  db/migrate/20190401223852_add_allow_password_change_to_users.rb
  db/schema.rb
  lib/tasks/tests.thor
  spec/controllers/overrides/passwords_controller_spec.rb
  spec/e2e/features/short_form/sign_in_while_applying.feature
  spec/e2e/pages/angular-page.coffee
  spec/e2e/step_definitions/account_steps.coffee
Labels: WIP

#1204 Skip translating address in my-application #165837759
  app/assets/javascripts/account/directives/my-application.html.slim
Labels: needs review

#1205 Upgrade lodash and devise #164739712
  Gemfile
  Gemfile.lock
  app/assets/javascripts/shared/SharedService.js.coffee
  app/assets/stylesheets/toolkit.scss
  bower.json
  yarn.lock
Labels: needs review
