Repository SFDigitalServices/sf-dahlia-web, pull requests merged in 2023-12, with the labels that each got.

#2019 DAH-1869 fix open house ordering (#2005)
  app/javascript/modules/listingDetailsAside/ListingDetailsOpenHouses.tsx
  app/javascript/util/listingUtil.ts
Labels: needs review, hotfix

#2020 DAH-1887 veterans question feature flag
  .env.sample
  app/assets/javascripts/shared/SharedService.js.coffee
  app/assets/javascripts/short-form/ShortFormApplicationController.js.coffee
  app/assets/javascripts/short-form/ShortFormApplicationService.js.coffee
  app/assets/javascripts/short-form/ShortFormDataService.js.coffee
  app/assets/javascripts/short-form/ShortFormNavigationService.js.coffee
  app/assets/javascripts/short-form/components/application-summary.html.slim
  app/assets/javascripts/short-form/components/applicationSummary.js.coffee
  app/assets/javascripts/short-form/templates/b0-autofill-preview.html.slim
  app/assets/javascripts/short-form/templates/continue-previous-draft.html.slim
  app/assets/javascripts/short-form/templates/f0-review-optional.html.slim
  app/assets/javascripts/short-form/templates/f1-review-summary.html.slim
  app/assets/javascripts/short-form/templates/review-application.html.slim
  app/controllers/api/v1/short_form_controller.rb
  app/views/layouts/application-angular.html.slim
  spec/e2e/features/short_form/veterans_preference.feature
  spec/e2e/step_definitions/short-form/preferences_steps.coffee
  spec/e2e/step_definitions/short-form/review_steps.coffee
  spec/e2e/utils/page-util.coffee
Labels: needs review

#2022 DAH-1820 fix: latest uic for mobile modal cutoff
  package.json
  yarn.lock
Labels: accepted

#2032 DAH-1672 New Translations for Educator Listings and Veterans Preferences
  app/assets/json/translations/locale-es.json
  app/assets/json/translations/locale-tl.json
  app/assets/json/translations/locale-zh.json
  app/assets/json/translations/react/es.json
  app/assets/json/translations/react/tl.json
  app/assets/json/translations/react/zh.json
Labels: needs review

#2028 DAH-1893 Remove Custom Preferences page from Application Form
  app/assets/javascripts/short-form/ShortFormApplicationController.js.coffee
  app/assets/javascripts/short-form/ShortFormNavigationService.js.coffee
Labels: needs product acceptance

#2041 DAH-1939 Redirect to React Listing Details page after Expired Application Form session
  app/assets/javascripts/config/angularInitialize.js.coffee
  app/assets/javascripts/shared/SharedService.js.coffee
Labels: needs review

#2043 DAH-1944 Fix console error on Application Form Demographics page related to Veterans Flag
  app/assets/javascripts/short-form/components/application-summary.html.slim
  app/assets/javascripts/short-form/components/applicationSummary.js.coffee
Labels: needs review

#2039 DAH-1865 Handle Apostrophe Character Entity from Salesforce free text fields
  app/javascript/modules/listings/SharedHelpers.tsx
  app/javascript/util/languageUtil.tsx
  package.json
  yarn.lock
Labels: needs review

#2040 DAH-1906 Add descriptive link text to edit buttons in application summary
  app/assets/javascripts/short-form/components/application-summary.html.slim
  app/assets/javascripts/short-form/directives/review-summary-section.html.slim
  app/assets/javascripts/short-form/directives/reviewSummarySection.js.coffee
  app/assets/json/translations/locale-en.json
Labels: needs product acceptance
