Repository SFDigitalServices/sf-dahlia-web, pull requests merged in 2023-11, with the labels that each got.

#1986 DAH-1808 Fix Educator Listing Legacy E2E tests in Prod environment
  spec/e2e/utils/page-util.coffee
Labels: needs review

#1992 DAH-1832 feat: filter out Veterans Preferences from ListingDetailsPre…
  app/javascript/modules/listingDetails/ListingDetailsPreferences.tsx
Labels: needs review

#1993 Hotfix: DAH-1838 feat: pass force param if relevant
  app/javascript/api/listingApiService.ts
Labels: needs review, urgent feature (merge within 3 days), hotfix

#1994 DAH-1841 fix: use alt text from Salesforce
  app/javascript/__tests__/pages/listings/ForRent.test.tsx
  app/javascript/__tests__/pages/listings/ForSale.test.tsx
  app/javascript/modules/listings/SharedHelpers.tsx
Labels: needs review

#2002 Bring in new Phrase translations
  app/assets/json/translations/locale-en.json
  app/assets/json/translations/locale-es.json
  app/assets/json/translations/locale-tl.json
  app/assets/json/translations/locale-zh.json
  app/assets/json/translations/react/en.json
  app/assets/json/translations/react/es.json
  app/assets/json/translations/react/tl.json
  app/assets/json/translations/react/zh.json
Labels: accepted

#2004 DAH-1856 fix: add translate class to ImageCard, fix tests
  app/javascript/__tests__/modules/listingDetails/__snapshots__/ListingDetailsEligibility.test.tsx.snap
  app/javascript/__tests__/modules/listingDetails/__snapshots__/ListingDetailsImageCard.test.tsx.snap
  app/javascript/__tests__/modules/listingDetailsAside/__snapshots__/MobileListingDetailsProcess.test.tsx.snap
  app/javascript/modules/listingDetails/ListingDetailsImageCard.tsx
  app/javascript/modules/listingDetails/ListingDetailsPreferences.tsx
  app/javascript/pages/getAssistance/document-checklist.tsx
  cypress/e2e/listingDetails/openListings.e2e.ts
  package.json
  yarn.lock
Labels: needs review, urgent feature (merge within 3 days)

#2005 DAH-1869 fix open house ordering
  app/javascript/modules/listingDetailsAside/ListingDetailsOpenHouses.tsx
  app/javascript/util/listingUtil.ts
Labels: needs review, hotfix

#2015 Hotfix prod remove listing image log
  app/services/listing_image_service.rb
  spec/services/listing_image_service_spec.rb
Labels: needs review, hotfix

#2003 Refactor preview param
  app/javascript/api/listingApiService.ts
Labels: needs review

#2010 DAH-1879 Fix radio buttons on Educator Screening Question
  app/assets/javascripts/short-form/templates/a3-custom-educator-screening.html.slim
Labels: accepted

#2011 DAH-1885 Job code error message for Screen Readers
  app/assets/javascripts/short-form/templates/a3-custom-educator-screening.html.slim
Labels: accepted
