Repository SFDigitalServices/sf-dahlia-web, pull requests merged in 2023-08, with the labels that each got.

#1852 DAH 1336 additional housing opportunities page
  app/assets/json/additional-resources.json
  app/assets/json/translations/react/en.json
  app/javascript/pages/getAssistance/additional-resources.scss
  app/javascript/pages/getAssistance/additional-resources.tsx
  cypress/e2e/getAssistance/additionalHousing.e2e.ts
Labels: needs review

#1873 DAH-1572 add flag, update tests
  app/services/cache_service.rb
  app/services/force/listing_service.rb
  spec/services/cache_service_spec.rb
  spec/services/listing_image_service_spec.rb
Labels: needs review

#1896 DAH-1416: Fix filter spacing
  app/javascript/pages/getAssistance/housing-counselors.scss
  app/javascript/pages/getAssistance/housing-counselors.tsx
Labels: needs review

#1901 DAH-1630: Fix CC&R Button
  app/javascript/__tests__/modules/listingDetails/__snapshots__/ListingDetailsAdditionalInformation.test.tsx.snap
  app/javascript/modules/listingDetails/ListingDetailsAdditionalInformation.tsx
Labels: accepted

#1899 DAH-1624 and DAH-1631: Fix Open House spacing and Preferences string
  app/javascript/__tests__/modules/listingDetails/__snapshots__/ListingDetailsEligibility.test.tsx.snap
  app/javascript/__tests__/modules/listingDetailsAside/__snapshots__/ListingDetailsOpenHouses.test.tsx.snap
  app/javascript/__tests__/modules/listingDetailsAside/__snapshots__/MobileListingDetailsProcess.test.tsx.snap
  app/javascript/modules/listingDetails/ListingDetailsEligibility.tsx
  app/javascript/modules/listingDetailsAside/ListingDetailsOpenHouses.scss
  app/javascript/modules/listingDetailsAside/ListingDetailsOpenHouses.tsx
  app/javascript/modules/listings/SharedHelpers.tsx
Labels: accepted

#1898 Dah 1617 fix a11y listing detail
  .overcommit.yml
  app/javascript/__tests__/modules/listingDetails/__snapshots__/ListingDetailsEligibility.test.tsx.snap
  app/javascript/__tests__/modules/listingDetails/__snapshots__/ListingDetailsHMITable.test.tsx.snap
  app/javascript/modules/listingDetails/ListingDetailsHMITable.tsx
Labels: needs review

#1906 DAH-1627 Fix 'beforeunload' and Rails routing compatibility in Angular
  app/assets/javascripts/config/angularInitialize.js.coffee
Labels: accepted

#1907 DAH-1656: Fix pricing table rounding
  app/javascript/modules/listingDetails/ListingDetailsPricingTable.tsx
Labels: accepted

#1903 DAH-1601: Remove DALP content and replace with Skip Lottery language
  app/assets/json/translations/react/en.json
  app/javascript/__tests__/modules/listings/__snapshots__/BuyHeader.test.tsx.snap
  app/javascript/__tests__/pages/listings/__snapshots__/ForSale.test.tsx.snap
  app/javascript/modules/listings/BuyHeader.tsx
Labels: accepted

#1905 DAH-1619 fix: add flex styling to expandable text
  app/javascript/__tests__/modules/listingDetails/__snapshots__/ListingDetailsEligibility.test.tsx.snap
  app/javascript/modules/listingDetails/ListingDetailsEligibility.scss
  app/javascript/modules/listingDetails/ListingDetailsEligibility.tsx
  cypress/e2e/listingDetails/machineTranslations.e2e.ts
Labels: accepted

#1915 Update Maps Embed API key
  app/assets/javascripts/listings/components/listing/neighborhoodSection.js.coffee
Labels: needs review

#1918 DAH-1645 Condtionally Run Angular e2e tests
  .circleci/config.yml
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: do not merge
