Repository SFDigitalServices/sf-dahlia-web, pull requests merged in 2023-07, with the labels that each got.

#1849 DAH-1409 fix contrast errors
  app/assets/json/translations/react/en.json
  app/assets/json/translations/react/es.json
  app/assets/json/translations/react/tl.json
  app/javascript/__tests__/components/__snapshots__/BeforeApplyingForSale.test.tsx.snap
  app/javascript/__tests__/modules/listingDetails/__snapshots__/ListingDetailsEligibility.test.tsx.snap
  app/javascript/__tests__/modules/listingDetails/__snapshots__/ListingDetailsHMITable.test.tsx.snap
  app/javascript/__tests__/modules/listings/__snapshots__/BuyHeader.test.tsx.snap
  app/javascript/components/BeforeApplyingForSale.tsx
  app/javascript/modules/listingDetails/ListingDetailsHMITable.tsx
  app/javascript/modules/listings/SharedHelpers.tsx
  app/javascript/pages/listings/for-rent.tsx
Labels: accepted

#1871 DAH-1539 reduce timeout and add retries
  cypress.config.ts
  cypress/e2e/listingDetails/machineTranslations.e2e.ts
Labels: needs review

#1882 DAH-1597 hotfix: remove markdown from translation string
  app/assets/json/translations/react/zh.json
Labels: needs review, hotfix

#1884 DAH-1394: Housing Counselor Components
  app/assets/json/housing_counselors_react.json
  app/assets/json/translations/react/en.json
  app/javascript/__tests__/pages/getAssistance/housingCounselors.test.tsx
  app/javascript/pages/getAssistance/housing-counselors.scss
  app/javascript/pages/getAssistance/housing-counselors.tsx
Labels: needs review
