Repository SFDigitalServices/sf-dahlia-web, pull requests merged in 2024-01, with the labels that each got.

#2044 DAH-1208 allow paragraph formatting
  app/javascript/__tests__/modules/listingDetails/__snapshots__/ListingDetailsAside.test.tsx.snap
  app/javascript/__tests__/modules/listingDetailsLottery/__snapshots__/ListingDetailsLotteryInfo.test.tsx.snap
  app/javascript/__tests__/modules/listingDetailsLottery/__snapshots__/ListingDetailsLotteryResults.test.tsx.snap
  app/javascript/__tests__/util/filterUtil.test.ts
  app/javascript/util/filterUtil.tsx
  cypress.config.ts
Labels: needs product acceptance

#2049 DAH-1976 additional fees format
  app/javascript/__tests__/modules/listingDetails/__snapshots__/ListingDetailsFeatures.test.tsx.snap
  app/javascript/modules/listingDetails/ListingDetailsFeatures.tsx
Labels: needs review

#2053 DAH-1992 add quotes to the aria labels on the application summary page
  app/assets/javascripts/short-form/components/application-summary.html.slim
  app/assets/json/translations/locale-en.json
Labels: needs product acceptance

#2058 feat: DAH-1999 Show Veteran Application Question only when Veteran Pref is present on Listing
  app/assets/javascripts/shared/SharedService.js.coffee
  app/assets/javascripts/short-form/ShortFormApplicationController.js.coffee
  app/assets/javascripts/short-form/ShortFormApplicationService.js.coffee
  app/assets/javascripts/short-form/ShortFormDataService.js.coffee
  app/assets/javascripts/short-form/ShortFormNavigationService.js.coffee
  spec/e2e/utils/page-util.coffee
  spec/javascripts/services/short_form_data_service_spec.coffee
Labels: needs review

#2025 DAH-1807 fix: remove logs, listing_image_service, refactor
  app/services/cache_service.rb
  app/services/force/listing_service.rb
  app/services/force/request.rb
  app/services/listing_image_service.rb
  app/services/multiple_listing_image_service.rb
  config/environments/development.rb
  lib/tasks/listing_images.rake
  spec/javascripts/fixtures/json/listings-api-show.json
  spec/services/cache_service_spec.rb
  spec/services/listing_image_service_spec.rb
  spec/services/multiple_listing_image_service_spec.rb
  spec/support/vcr_setup.rb
  spec/vcr/listings/a0W0P00000F8YG4UAN.yml
  spec/vcr/listings/all_listings_browse.yml
Labels: needs review

#2064 fix: DAH-2012 webappid set to null during account updates
  app/controllers/api/v1/account_controller.rb
Labels: accepted

#2065 DAH-2001 fill in translations
  app/assets/json/translations/locale-es.json
  app/assets/json/translations/locale-tl.json
  app/assets/json/translations/locale-zh.json
  app/assets/json/translations/react/es.json
  app/assets/json/translations/react/tl.json
  app/assets/json/translations/react/zh.json
Labels: needs product acceptance
