Repository SFDigitalServices/sf-dahlia-web, pull requests merged in 2024-09, with the labels that each got.

#2244 feat: DAH-2280 return translations from listing service
  app/helpers/service_helper.rb
  app/javascript/__tests__/hooks/useFeatureFlag.test.tsx
  app/javascript/__tests__/hooks/useScript.test.tsx
  app/javascript/__tests__/hooks/useTranslate.test.tsx
  app/javascript/api/types/rails/listings/BaseRailsListing.d.ts
  app/javascript/api/types/rails/listings/RailsTranslation.ts
  app/javascript/components/ErrorBoundary.tsx
  app/javascript/hooks/useFeatureFlag.tsx
  app/javascript/hooks/usePollElementRender.tsx
  app/javascript/hooks/useScript.tsx
  app/javascript/hooks/useTranslate.tsx
  app/javascript/modules/listingDetails/ListingDetailsAdditionalInformation.tsx
  app/javascript/modules/listingDetails/ListingDetailsEligibility.tsx
  app/javascript/modules/listingDetails/ListingDetailsFeatures.tsx
  app/javascript/modules/listingDetailsAside/ListingDetailsProcess.tsx
  app/javascript/modules/listingDetailsLottery/ListingDetailsLotteryResults.tsx
  app/javascript/modules/listingDetailsLottery/LotteryDetailsLotteryInfo.tsx
  app/javascript/modules/listings/GenericDirectory.tsx
  app/javascript/pages/getAssistance/privacy.tsx
  app/javascript/pages/listings/listing-detail.tsx
  app/javascript/util/filterUtil.tsx
  app/javascript/util/languageUtil.tsx
  app/services/cache_service.rb
  app/services/force/event_subscriber_translate_service.rb
  app/services/force/listing_service.rb
  app/services/google_translation_service.rb
  lib/tasks/translate_test.rake
  spec/services/cache_service_spec.rb
  spec/services/event_subscriber_translate_service_spec.rb
  spec/services/google_translation_service_spec.rb
  spec/spec_helper.rb
Labels: needs review

#2278 feat: DAH-2641 Use Custom_Listing_Type to show HCBS application question
  app/assets/javascripts/short-form/ShortFormApplicationService.js.coffee
Labels: needs review

#2266 feat: DAH-2587 translations not on listing object
  app/javascript/modules/listingDetails/ListingDetailsImageCard.tsx
  app/javascript/modules/listingDetailsAside/ListingDetailsInfoSession.tsx
  app/javascript/modules/listingDetailsAside/ListingDetailsOpenHouses.tsx
  app/javascript/modules/listingDetailsAside/ListingDetailsProcess.tsx
  app/services/cache_service.rb
  app/services/force/listing_service.rb
  spec/services/cache_service_spec.rb
Labels: needs review

#2272 feat: DAH-2519 fcfs no lottery required
  app/assets/json/translations/react/en.json
  app/javascript/__tests__/data/RailsSaleListing/listing-sale-fcfs.ts
  app/javascript/__tests__/modules/listingDetails/ListingDetailsAside.test.tsx
  app/javascript/__tests__/modules/listingDetails/__snapshots__/ListingDetailsAside.test.tsx.snap
  app/javascript/modules/constants.tsx
  app/javascript/modules/listingDetailsAside/ListingDetailsAside.scss
  app/javascript/modules/listingDetailsAside/ListingDetailsAside.tsx
Labels: needs product acceptance

#2255 feat: DAH-2451 cache service gets translations on listing translations cache miss
  app/services/cache_service.rb
  app/services/force/listing_service.rb
  spec/services/cache_service_spec.rb
Labels: needs review

#2276 feat: DAH-2636 feature flag translations functionality rails
  app/services/force/event_subscriber_translate_service.rb
  app/services/force/listing_service.rb
  config/initializers/unleash.rb
  config/puma.rb
  lib/tasks/translate.rake
  spec/services/event_subscriber_translate_service_spec.rb
  spec/services/listing_service_spec.rb
Labels: do not merge

#2282 fix: DAH-2666 update flag usage
  app/javascript/modules/listingDetailsAside/ListingDetailsApplicationDate.tsx
  app/javascript/modules/listingDetailsAside/ListingDetailsAside.tsx
  app/services/force/listing_service.rb
Labels: needs review

#2280 feat: DAH-2569 Application Summary item for HCBS Question
  app/assets/javascripts/short-form/ShortFormApplicationController.js.coffee
  app/assets/javascripts/short-form/ShortFormApplicationService.js.coffee
  app/assets/javascripts/short-form/components/application-summary.html.slim
  app/assets/javascripts/short-form/components/applicationSummary.js.coffee
  app/assets/javascripts/short-form/templates/b0-autofill-preview.html.slim
  app/assets/javascripts/short-form/templates/continue-previous-draft.html.slim
  app/assets/javascripts/short-form/templates/f1-review-summary.html.slim
  app/assets/javascripts/short-form/templates/review-application.html.slim
  app/assets/json/translations/locale-en.json
Labels: needs review

#2295 feat: DAH-2689 add FCFS feature toggle
  app/javascript/modules/listingDetailsAside/ListingDetailsAside.tsx
  app/javascript/modules/listingDetailsAside/ListingDetailsProcess.tsx
Labels: needs review

#2289 DAH-2643 handle diff response
  app/helpers/service_helper.rb
  app/services/force/event_subscriber_translate_service.rb
  spec/services/event_subscriber_translate_service_spec.rb
Labels: needs review

#2288 fix: DAH-2667 update how feature flag is called so live updating works
  app/services/force/event_subscriber_translate_service.rb
  app/services/force/listing_service.rb
  config/initializers/unleash.rb
Labels: needs review

#2290 fix: DAH-2574 fix user signed in bug
  app/javascript/__tests__/pages/account/__snapshots__/account-settings.test.tsx.snap
  app/javascript/layouts/Layout.tsx
Labels: needs review

#2293 feat: DAH-2647 Human Translations 2024-09-05
  app/assets/javascripts/short-form/templates/c8-home-and-community-based-services.html.slim
  app/assets/json/translations/locale-en.json
  app/assets/json/translations/locale-es.json
  app/assets/json/translations/locale-tl.json
  app/assets/json/translations/locale-zh.json
  app/assets/json/translations/react/en.json
  app/assets/json/translations/react/es.json
  app/assets/json/translations/react/tl.json
  app/assets/json/translations/react/zh.json
  app/javascript/__tests__/modules/listingDetails/ListingDetailsEligibility.test.tsx
  app/javascript/__tests__/modules/listingDetails/__snapshots__/ListingDetailsEligibility.test.tsx.snap
  app/javascript/modules/listingDetails/ListingDetailsEligibility.tsx
Labels: needs review

#2283 feat: DAH-2556 check translations cache LastModifiedDate
  app/services/cache_service.rb
  app/services/force/event_subscriber_translate_service.rb
  app/services/force/listing_service.rb
  app/services/google_translation_service.rb
  spec/services/google_translation_service_spec.rb
  spec/services/listing_service_spec.rb
Labels: needs review

#2306 feat: DAH-2719 add scout
  Gemfile
  Gemfile.lock
Labels: needs review

#2309 Feat: DAH-2717 HCBS Application question page updates
  app/assets/javascripts/short-form/templates/c8-home-and-community-based-services.html.slim
  app/assets/json/translations/locale-es.json
Labels: needs review

#2307 fix: DAH-1610 update postgres image
  .circleci/config.yml
Labels: needs review

#2304 DAH-2722 fix: check for nil before parsing LastModifiedDate
  app/services/force/listing_service.rb
  spec/services/listing_service_spec.rb
Labels: needs review

#2303 feat: DAH-2575 include original text when translating
  app/javascript/util/languageUtil.tsx
  app/services/google_translation_service.rb
  spec/services/google_translation_service_spec.rb
Labels: needs review

#2300 fix: DAH-2625 banners show up again on change after being dismissed
  app/javascript/__tests__/pages/account/account-settings.test.tsx
  app/javascript/pages/account/account-settings.tsx
Labels: needs review

#2318 test: DAH-2736 Update e2e data fixture with new lottery field
  cypress/fixtures/completedRentalListing.json
Labels: needs review

#2279 feat: DAH-2559 Add Listing Online Details To See Details Online Component
  app/javascript/__tests__/data/RailsSaleListing/listing-sale-mls-online-details.ts
  app/javascript/__tests__/data/RailsSaleListing/listing-sale-online-details.ts
  app/javascript/__tests__/modules/listingDetails/ListingDetailsSeeTheUnit.test.tsx
  app/javascript/__tests__/modules/listingDetails/__snapshots__/ListingDetailsAside.test.tsx.snap
  app/javascript/__tests__/modules/listingDetails/__snapshots__/ListingDetailsSeeTheUnit.test.tsx.snap
  app/javascript/api/types/rails/listings/BaseRailsListing.d.ts
  app/javascript/modules/listingDetailsAside/ListingDetailsSeeTheUnit.tsx
Labels: needs product acceptance

#2319 feat: DAH-2105 disable source maps in production
  config/webpack/loaders/sass.js
  config/webpack/production.js
Labels: needs review

#2322 feat: DAH-2732 update document checklist for hope sf
  app/assets/json/translations/react/en.json
  app/javascript/modules/constants.tsx
  app/javascript/modules/listingDetails/ListingDetailsPreferences.tsx
  app/javascript/pages/getAssistance/document-checklist.tsx
Labels: needs review

#2324 feat: DAH-2754 Add RTR Hunters View pref to application
  app/assets/javascripts/listings/ListingConstantsService.js.coffee
  app/assets/javascripts/listings/ListingPreferenceService.js.coffee
  app/assets/javascripts/short-form/ShortFormApplicationController.js.coffee
  app/assets/javascripts/short-form/ShortFormApplicationService.js.coffee
  app/assets/javascripts/short-form/ShortFormHelperService.js.coffee
  app/assets/javascripts/short-form/components/preferencesSummary.js.coffee
  app/assets/json/translations/locale-en.json
  app/assets/json/translations/locale-es.json
  app/assets/json/translations/locale-tl.json
  app/assets/json/translations/locale-zh.json
Labels: needs review

#2323 feat: DAH-2723 update rtr preference cards
  app/assets/json/translations/react/en.json
  app/assets/json/translations/react/es.json
  app/assets/json/translations/react/tl.json
  app/assets/json/translations/react/zh.json
  app/javascript/__tests__/data/RailsListingPreferences/lottery-preferences-rtr.ts
  app/javascript/__tests__/modules/listingDetails/ListingDetailsPreferences.test.tsx
  app/javascript/__tests__/modules/listingDetails/__snapshots__/ListingDetailsPreferences.test.tsx.snap
  app/javascript/modules/constants.tsx
  app/javascript/modules/listingDetails/ListingDetailsPreferences.tsx
Labels: needs review

#2321 fix: DAH-2744 Uninitialized Unleash Constant in Rails
  app/services/force/listing_service.rb
  config/initializers/sidekiq.rb
  config/initializers/unleash.rb
  config/puma.rb
  lib/tasks/debug_unleash_flag.rake
  spec/services/event_subscriber_translate_service_spec.rb
  spec/services/listing_service_spec.rb
  spec/spec_helper.rb
Labels: needs review

#2325 fix: DAH-2754 Add missing text for RTR Hunters View application question
  app/assets/javascripts/short-form/components/preference-proof-uploader.html.slim
  app/assets/json/translations/locale-en.json
  app/assets/json/translations/locale-es.json
  app/assets/json/translations/locale-tl.json
  app/assets/json/translations/locale-zh.json
Labels: needs review
