Repository SFDigitalServices/sf-dahlia-web, pull requests merged in 2024-03, with the labels that each got.

#2096 DAH-2122 cypress e2e fixtures
  cypress/e2e/homepage.e2e.ts
  cypress/e2e/listingDetails/completedLotteryListing.e2e.ts
  cypress/e2e/listingDetails/openListings.e2e.ts
  cypress/e2e/rentalListings.e2e.ts
  cypress/fixtures/ami.json
  cypress/fixtures/completedRentalListing.json
  cypress/fixtures/listings.json
  cypress/fixtures/lotteryRanking.json
  cypress/fixtures/openRentalListing.json
  cypress/fixtures/openSaleListing.json
  cypress/fixtures/preferences.json
  cypress/fixtures/units.json
Labels: needs product acceptance

#2103 chore: DAH-2132 update vcr recordings for rspec tests
  spec/javascripts/fixtures/json/address-validation-api-invalid-address.json
  spec/javascripts/fixtures/json/address-validation-api-valid-address.json
  spec/javascripts/fixtures/json/address-validation-api-valid-po-box.json
  spec/javascripts/fixtures/json/listings-api-ami.json
  spec/javascripts/fixtures/json/listings-api-eligibility-listings.json
  spec/javascripts/fixtures/json/listings-api-index.json
  spec/javascripts/fixtures/json/listings-api-listing-preferences.json
  spec/javascripts/fixtures/json/listings-api-lottery-buckets.json
  spec/javascripts/fixtures/json/listings-api-lottery-ranking.json
  spec/javascripts/fixtures/json/listings-api-show.json
  spec/javascripts/fixtures/json/short_form-api-lending-institutions.json
  spec/javascripts/fixtures/json/valid-short-form-params.json
  spec/requests/api/v1/listings_spec.rb
  spec/requests/api/v1/short_form_spec.rb
  spec/services/listing_service_spec.rb
  spec/support/vcr_setup.rb
  spec/vcr/account/my_applications.yml
  spec/vcr/address_validation/invalid.yml
  spec/vcr/address_validation/po_box_invalid.yml
  spec/vcr/address_validation/po_box_valid.yml
  spec/vcr/address_validation/valid.yml
  spec/vcr/emailer/draft_application_saved.yml
  spec/vcr/emailer/submission_confirmation.yml
  spec/vcr/force/initialize.yml
  spec/vcr/gis/adhp_match.yml
  spec/vcr/gis/adhp_non_match.yml
  spec/vcr/gis/invalid.yml
  spec/vcr/gis/nrhp_match.yml
  spec/vcr/gis/nrhp_non_match.yml
  spec/vcr/gis/valid.yml
  spec/vcr/listings/a0W0P00000F8YG4UAN.yml
  spec/vcr/listings/all_listings_browse.yml
  spec/vcr/listings/ami.yml
  spec/vcr/listings/eligibility.yml
  spec/vcr/listings/eligibility/rental.yml
  spec/vcr/listings/listings_by_ids.yml
  spec/vcr/listings/lottery-buckets.yml
  spec/vcr/listings/lottery-ranking.yml
  spec/vcr/listings/preferences.yml
  spec/vcr/listings/rental_listings.yml
  spec/vcr/listings/sale_listings.yml
  spec/vcr/listings/single_listing.yml
  spec/vcr/listings/units.yml
  spec/vcr/shortform/claim_submitted_application.yml
  spec/vcr/shortform/delete_application.yml
  spec/vcr/shortform/lending-institutions.yml
  spec/vcr/shortform/show_application.yml
  spec/vcr/shortform/submit_application.yml
  spec/vcr/shortform/update_application.yml
  spec/vcr/shortform/update_unauthorized_application.yml
  spec/vcr/shortform/validate_household_match.yml
  spec/vcr/shortform/validate_household_not_match.yml
Labels: needs product acceptance

#2105 feat: DAH-1990 Show accessibility application question for 400 China Basin
  app/assets/javascripts/listings/ListingConstantsService.js.coffee
  app/assets/javascripts/short-form/ShortFormNavigationService.js.coffee
Labels: needs review

#2108 fix: DAH-2034 Use translation file for Job Code placeholder
  app/assets/javascripts/short-form/templates/a3-custom-educator-screening.html.slim
Labels: accepted

#2110 fix: DAH-2199 Custom Preferences whitelist
  app/assets/javascripts/listings/ListingConstantsService.js.coffee
  app/assets/javascripts/listings/ListingPreferenceService.js.coffee
  app/assets/javascripts/short-form/ShortFormNavigationService.js.coffee
Labels: needs review

#2113 DAH-2154 add custom data layer for rent or sale listing
  app/javascript/pages/listings/listing-detail.tsx
  config/webpack/base.js
  package.json
  yarn.lock
Labels: needs product acceptance

#2117 chore: DAH-2172 Remove unused adapter file
  app/javascript/api/adapters/adapter.ts
Labels: needs review
