Repository SFDigitalServices/sf-dahlia-web, pull requests merged in 2025-02, with the labels that each got.

#2530 feat: DAH-3074 DALP Application Question
  app/assets/javascripts/short-form/ShortFormApplicationController.js.coffee
  app/assets/javascripts/short-form/ShortFormApplicationService.js.coffee
  app/assets/javascripts/short-form/ShortFormNavigationService.js.coffee
  app/assets/javascripts/short-form/components/file-uploader.html.slim
  app/assets/javascripts/short-form/components/fileUploader.js.coffee
  app/assets/javascripts/short-form/templates/a4a-dalp-screening.html.slim
  app/assets/json/translations/locale-en.json
Labels: needs product acceptance

#2536 feat: DAH-3132 Update icon
  app/assets/images/house-circle-check.svg
  app/javascript/__tests__/pages/listings/__snapshots__/ForSale.test.tsx.snap
  app/javascript/modules/constants.tsx
  app/javascript/modules/listings/DirectoryHelpers.tsx
  app/javascript/modules/listings/DirectoryPageNavigationBar.tsx
  app/javascript/modules/listings/GenericDirectory.tsx
  app/javascript/modules/listings/assets/icon-home-check.tsx
  app/javascript/modules/listings/components/EmptyListingsView.tsx
Labels: needs review

#2531 feat: DAH-3085 DALP confirmation email
  app/assets/json/translations/locale-en.json
  app/mailers/emailer.rb
  app/views/layouts/submission_confirmation_dalp.html.slim
  spec/mailers/emailer_spec.rb
  spec/vcr/emailer/submission_confirmation_dalp.yml
Labels: needs review

#2540 fix: DAH-3191 fix email address for lottery appeals
  app/assets/javascripts/short-form/components/addressError.js.coffee
  app/assets/json/translations/locale-en.json
  app/assets/json/translations/locale-es.json
  app/assets/json/translations/locale-tl.json
  app/assets/json/translations/locale-zh.json
  app/assets/json/translations/react/en.json
  app/assets/json/translations/react/es.json
  app/assets/json/translations/react/tl.json
  app/assets/json/translations/react/zh.json
Labels: needs review

#2533 feat: DAH-3201 Application Summary Edit button should take user to DALP question
  app/assets/javascripts/short-form/components/application-summary.html.slim
  app/assets/javascripts/short-form/components/applicationSummary.js.coffee
Labels: needs product acceptance

#2527 feat: DAH-2826 Auto populate user
  app.json
  lib/tasks/preload_user.rake
Labels: needs review

#2544 fix: DAH-3207 Use NPM Chromedriver for Protractor
  .circleci/config.yml
  package.json
  spec/e2e/conf.js
  yarn.lock
Labels: needs review

#2543 fix: DAH-3098 add missing period
  app/assets/json/translations/react/en.json
  app/javascript/__tests__/pages/SignIn.test.tsx
Labels: needs product acceptance

#2535 feat: DAH-3184 Remove Work in SF Question for household members for DALP
  app/assets/javascripts/short-form/templates/c3-household-member-form.html.slim
Labels: needs product acceptance

#2541 feat: DAH-3165 Use DALP lottery results URL for DALP applications
  app/assets/json/translations/react/en.json
  app/javascript/components/ApplicationItem.tsx
  app/javascript/modules/constants.tsx
Labels: needs product acceptance

#2501 feat: DAH-2984 forgot-password api hook up
  app/javascript/__tests__/api/authApiService.test.ts
  app/javascript/__tests__/pages/forgot-password.test.tsx
  app/javascript/api/authApiService.ts
  app/javascript/pages/forgot-password.tsx
  app/javascript/util/routeUtil.ts
Labels: needs review

#2539 fix: DAH-3084 add inset tag dalp confirmation info
  app/assets/javascripts/short-form/templates/g1-confirmation.html.slim
Labels: needs product acceptance

#2552 fix: DAH-3218 fix sticky header
  app/javascript/__tests__/layouts/__snapshots__/HeaderSidebarLayout.test.tsx.snap
  app/javascript/__tests__/pages/account/__snapshots__/account-settings.test.tsx.snap
  app/javascript/__tests__/pages/how-to-apply/__snapshots__/how-to-apply.test.tsx.snap
  app/javascript/__tests__/pages/listingInterest/__snapshots__/ListingInterestPage.test.tsx.snap
  app/javascript/__tests__/pages/listings/__snapshots__/ForRent.test.tsx.snap
  app/javascript/__tests__/pages/listings/__snapshots__/ForSale.test.tsx.snap
  app/javascript/__tests__/pages/listings/__snapshots__/ListingDetail.test.tsx.snap
  app/javascript/layouts/Layout.tsx
  app/javascript/pages/listings/listing-detail.tsx
Labels: needs product acceptance

#2520 feat: DAH-3055 Send user id and timestamp with every push
  app/assets/javascripts/account/AccountService.js.coffee
  app/javascript/__tests__/hooks/useGTMDataLayer.test.tsx
  app/javascript/__tests__/pages/listings/ListingDetail.test.tsx
  app/javascript/authentication/context/UserProvider.tsx
  app/javascript/hooks/analytics/useGTMDataLayer.tsx
Labels: needs product acceptance

#2545 fix: DAH-3208 Change Home SF name
  app/assets/json/translations/react/en.json
  app/assets/json/translations/react/es.json
  app/assets/json/translations/react/tl.json
  app/assets/json/translations/react/zh.json
  app/javascript/api/types/rails/application/RailsApplication.d.ts
  app/javascript/pages/getAssistance/housing-counselors.tsx
Labels: needs product acceptance

#2548 feat: DAH-2876 withAuthenticationRedirect, tests working
  app/assets/json/translations/react/en.json
  app/javascript/__tests__/authentication/withAuthentication.test.tsx
  app/javascript/__tests__/pages/account/__snapshots__/account-settings.test.tsx.snap
  app/javascript/__tests__/pages/account/account-settings.test.tsx
  app/javascript/__tests__/pages/account/my-account.test.tsx
  app/javascript/__tests__/pages/account/my-applications.test.tsx
  app/javascript/__tests__/util/routeUtil.test.ts
  app/javascript/authentication/SignInForm.tsx
  app/javascript/authentication/withAuthentication.tsx
  app/javascript/pages/account/account-settings.tsx
  app/javascript/pages/account/my-account.tsx
  app/javascript/pages/account/my-applications.tsx
  app/javascript/util/routeUtil.ts
  cypress/e2e/accounts/accountSettings.e2e.ts
Labels: needs review

#2551 feat: DAH-3175 Check for stale translations during Prefetch
  Procfile
  app/services/cache_service.rb
  app/services/force/event_subscriber_translate_service.rb
  app/services/force/listing_service.rb
  app/services/google_translation_service.rb
  lib/tasks/translate.rake
  lib/tasks/translations_cache.rake
  spec/services/event_subscriber_translate_service_spec.rb
  spec/services/listing_service_spec.rb
Labels: needs review

#2562 feat: DAH-3246 COP Preference Question for DALP Application
  app/assets/javascripts/short-form/ShortFormApplicationController.js.coffee
  app/assets/javascripts/short-form/ShortFormApplicationService.js.coffee
  app/assets/javascripts/short-form/ShortFormNavigationService.js.coffee
  app/assets/javascripts/short-form/components/application-summary.html.slim
  app/assets/javascripts/short-form/components/applicationSummary.js.coffee
Labels: needs product acceptance

#2564 chore: DAH-3126 pull phrase translations
  app/assets/json/translations/locale-es.json
  app/assets/json/translations/locale-tl.json
  app/assets/json/translations/locale-zh.json
  app/assets/json/translations/react/es.json
  app/assets/json/translations/react/tl.json
  app/assets/json/translations/react/zh.json
Labels: needs review, needs product acceptance

#2568 fix: DAH-3126 translation character encoding
  app/assets/json/translations/locale-zh.json
Labels: needs review

#2569 fix: DAH-3274 Restore isDALP function
  app/assets/javascripts/short-form/components/applicationSummary.js.coffee
Labels: needs review
