Repository SFDigitalServices/sf-dahlia-web, pull requests merged in 2025-03, with the labels that each got.

#2563 feat: DAH-3144 Analytics for timeout events
  app/assets/javascripts/config/angularInitialize.js.coffee
  app/assets/javascripts/shared/AnalyticsService.js.coffee
  app/javascript/__tests__/components/IdleTimeout.test.tsx
  app/javascript/authentication/SignInForm.tsx
  app/javascript/authentication/components/BaseIdleTimeout.tsx
  app/javascript/authentication/components/IdleTimeout.tsx
  app/javascript/layouts/withAppSetup.tsx
  app/javascript/pages/account/account-settings.tsx
  app/javascript/pages/account/create-account.tsx
  app/javascript/pages/account/my-account.tsx
  app/javascript/pages/account/my-applications.tsx
  app/javascript/pages/forgot-password.tsx
  app/javascript/pages/getAssistance/additional-resources.tsx
  app/javascript/pages/getAssistance/disclaimer.tsx
  app/javascript/pages/getAssistance/document-checklist.tsx
  app/javascript/pages/getAssistance/get-assistance.tsx
  app/javascript/pages/getAssistance/housing-counselors.tsx
  app/javascript/pages/getAssistance/privacy.tsx
  app/javascript/pages/howToApply/how-to-apply.tsx
  app/javascript/pages/index.tsx
  app/javascript/pages/listingInterest/listing-interest-page.tsx
  app/javascript/pages/listings/for-rent.tsx
  app/javascript/pages/listings/for-sale.tsx
  app/javascript/pages/listings/listing-detail.tsx
  app/javascript/pages/reset-password.tsx
  app/javascript/pages/sign-in.tsx
  app/javascript/util/routeUtil.ts
Labels: needs review

#2558 fix: DAH-3216 Add redirect allowlist
  config/environments/test.rb
  config/initializers/devise_token_auth.rb
  spec/controllers/overrides/passwords_controller_spec.rb
  spec/controllers/overrides/registrations_controller_spec.rb
  spec/mailers/emailer_spec.rb
Labels: needs review

#2572 fix: DAH-3285 Prevent Autocapitalization of Visible Password
  app/javascript/__tests__/pages/account/__snapshots__/account-settings.test.tsx.snap
  app/javascript/pages/account/components/PasswordFieldset.tsx
Labels: needs review, needs product acceptance

#2554 feat: DAH-3143 Create account events
  app/assets/javascripts/account/AccountService.js.coffee
  app/controllers/overrides/confirmations_controller.rb
  app/javascript/__tests__/__util__/accountUtils.tsx
  app/javascript/__tests__/authentication/token.test.ts
  app/javascript/__tests__/pages/SignIn.test.tsx
  app/javascript/__tests__/pages/account/my-account.test.tsx
  app/javascript/__tests__/pages/create-account.test.tsx
  app/javascript/authentication/SignInForm.tsx
  app/javascript/authentication/context/UserProvider.tsx
  app/javascript/authentication/token.ts
  app/javascript/hooks/analytics/useGTMDataLayer.tsx
  app/javascript/pages/account/create-account.tsx
  app/javascript/pages/account/my-account.tsx
  app/models/user.rb
  spec/models/user_spec.rb
Labels: needs product acceptance

#2575 docs: DAH-3302 Update getting started
  .env.sample
  README.md
Labels: needs review

#2584 feat: DAH-3243 site-alert-banners-behave-inconsistently
  app/javascript/__tests__/api/authApiService.test.ts
  app/javascript/__tests__/authentication/token.test.ts
  app/javascript/__tests__/authentication/withAuthentication.test.tsx
  app/javascript/__tests__/pages/account/account-settings.test.tsx
  app/javascript/__tests__/pages/account/my-account.test.tsx
  app/javascript/__tests__/util/routeUtil.test.ts
  app/javascript/api/authApiService.ts
  app/javascript/authentication/SignInForm.tsx
  app/javascript/authentication/token.ts
  app/javascript/authentication/withAuthentication.tsx
  app/javascript/pages/account/account-settings.tsx
  app/javascript/pages/account/my-account.tsx
  app/javascript/pages/account/my-applications.tsx
  app/javascript/util/routeUtil.ts
Labels: needs review

#2579 fix: DAH-3216 Add localization support to redirect allowlist
  config/initializers/devise_token_auth.rb
Labels: needs review

#2512 test: DAH-3178 Increase space and log heap usage
  .circleci/config.yml
  package.json
Labels: needs review

#2592 fix: DAH-3305 Use prioritiesDescriptor instead of calculating priority units
  app/javascript/__tests__/pages/listings/__snapshots__/ListingDetail.test.tsx.snap
  app/javascript/modules/listingDetails/ListingDetailsEligibility.tsx
Labels: needs review

#2596 fix: DAH-3322 Downgrade chromedriver to v131 to match chrome browser version
  package.json
Labels: needs review

#2595 feat: DAH-2949 update content
  app/assets/json/additional-resources.json
  app/assets/json/translations/react/en.json
  app/assets/json/translations/react/es.json
  app/assets/json/translations/react/tl.json
  app/assets/json/translations/react/zh.json
  yarn.lock
Labels: needs product acceptance

#2587 feat: DAH-3251 add support for FCFS_FORMASSEMBLY_URL in other locales
  app/javascript/__tests__/pages/how-to-apply/how-to-apply.test.tsx
  app/javascript/pages/howToApply/how-to-apply.tsx
  config/webpack/base.js
Labels: needs review, javascript

#2585 fix: DAH-3144 Add Angular timeout onclose callback
  app/assets/javascripts/config/angularInitialize.js.coffee
  app/assets/javascripts/shared/ModalInstanceController.js.coffee
  app/assets/javascripts/shared/ModalService.js.coffee
Labels: needs review

#2594 fix: DAH-3015 remaining h4 accessibility issues in listing detail aside
  app/javascript/__tests__/modules/listingDetails/__snapshots__/ListingDetailsAside.test.tsx.snap
  app/javascript/__tests__/modules/listingDetailsAside/__snapshots__/ListingDetailsInfoSession.test.tsx.snap
  app/javascript/__tests__/modules/listingDetailsAside/__snapshots__/ListingDetailsOpenHouses.test.tsx.snap
  app/javascript/__tests__/modules/listingDetailsAside/__snapshots__/MobileListingDetailsProcess.test.tsx.snap
  app/javascript/__tests__/modules/listingDetailsLottery/__snapshots__/MobileListingDetailsLottery.test.tsx.snap
  app/javascript/__tests__/pages/listings/__snapshots__/ListingDetail.test.tsx.snap
  app/javascript/modules/listingDetailsAside/ListingDetailsApply.tsx
  app/javascript/modules/listingDetailsAside/ListingDetailsInfoSession.tsx
  app/javascript/modules/listingDetailsAside/ListingDetailsOpenHouses.tsx
  app/javascript/modules/listingDetailsAside/ListingDetailsProcess.tsx
Labels: needs product acceptance

#2598 fix: DAH-3335 update translation LastModifiedDate when there is no content
  app/services/force/event_subscriber_translate_service.rb
  app/services/google_translation_service.rb
  spec/services/event_subscriber_translate_service_spec.rb
Labels: needs review

#2599 test: DAH-2882 Sign in e2e test
  cypress/e2e/signIn.e2e.ts
  cypress/support/util.ts
Labels: needs review

#2603 fix: DAH-3341 Don't run GH Title Check for Dependabot PRs
  .github/workflows/pr-title-check.yml
Labels: needs review

#2608 fix: DAH-3318 Fix localization checker
  .eslintrc.js
  Gruntfile.js
  app/assets/json/translations/react/es.json
  app/assets/json/translations/react/tl.json
  app/assets/json/translations/react/zh.json
  bin/sort-translations.sh
  package.json
  yarn.lock
Labels: needs review
